
<div class="container">
{{#each comicData.results}}
  <div class="item-container">
    <div>
    <img src="{{this.thumbnail.path}}/portrait_incredible.{{this.thumbnail.extension}}" alt="">
     </div>
     <div>
     <h6>{{this.title}}</h6>
     </div>
    </div>
{{/each}}
 </div>

<div>
    Showing {{resultsRangeStart}} through {{resultsRangeEnd}} of {{comicData.total}} results.  
</div> 
Page {{currentPage}}
<a href='/characters/details/{{id}}/comics/page/{{offset}}'>Next page</a>

<footer> 
    <a href="https://developer.marvel.com/" target="_blank">Data provided by Marvel. © 2018 Marvel</a>
</footer>