<div class="characterInComics"></div>
<div class="container characterInComics">
{{#each comicData.results}}
<div class="test-item-container">
    <div>
    <a href="/comics/details/{{this.id}}" class="a-images">
    <img class="test-images"src="{{this.thumbnail.path}}/portrait_incredible.{{this.thumbnail.extension}}" alt="">
    </a>
    </div>
    <div class="card-box-comics">
    {{this.title}}
    </div>
    </div>
{{/each}}
</div>


<div class="container mt-2">
    <div class="container">
    Page {{currentPage}} -
    <a class="pl-1" href='/characters/details/{{id}}/comics/page/{{offset}}'>Next page</a>
    </div>
    <div class="container">
    Showing {{resultsRangeStart}} through {{resultsRangeEnd}} of {{comicData.total}} results.  
    </div> 
</div>



</div>

