<div>
    <a href="/">Back to homepage</a>
</div>

<div>
    <ul>
        <li><a href="/characters">All</a></li>
        <li><a href="/characters/startswith/a">A</a></li>
        <li><a href="/characters/startswith/b">B</a></li>
        <li><a href="/characters/startswith/c">C</a></li>
        <li><a href="/characters/startswith/d">D</a></li>
        <li><a href="/characters/startswith/e">E</a></li>
        <li><a href="/characters/startswith/f">F</a></li>
        <li><a href="/characters/startswith/g">G</a></li>
        <li><a href="/characters/startswith/h">H</a></li>
        <li><a href="/characters/startswith/i">I</a></li>
        <li><a href="/characters/startswith/j">J</a></li>
        <li><a href="/characters/startswith/k">K</a></li>
        <li><a href="/characters/startswith/l">L</a></li>
        <li><a href="/characters/startswith/m">M</a></li>
        <li><a href="/characters/startswith/n">N</a></li>
        <li><a href="/characters/startswith/o">O</a></li>
        <li><a href="/characters/startswith/p">P</a></li>
        <li><a href="/characters/startswith/q">Q</a></li>
        <li><a href="/characters/startswith/r">R</a></li>
        <li><a href="/characters/startswith/s">S</a></li>
        <li><a href="/characters/startswith/t">T</a></li>
        <li><a href="/characters/startswith/u">U</a></li>
        <li><a href="/characters/startswith/v">V</a></li>
        <li><a href="/characters/startswith/w">W</a></li>
        <li><a href="/characters/startswith/x">X</a></li>
        <li><a href="/characters/startswith/y">Y</a></li>
        <li><a href="/characters/startswith/z">Z</a></li>
    </ul>
</div>

<div>
    {{#each allCharacters.results}}
        <h1>{{this.name}}</h1>
        <a href="/characters/details/{{this.id}}">
            <img src='{{this.thumbnail.path}}/portrait_incredible.{{this.thumbnail.extension}}' alt=""> 
        </a>

    {{/each}}
   
</div>

<div>
    Showing {{resultsRangeStart}} through {{resultsRangeEnd}} of {{allComics.total}} results.  
</div> 
Page {{currentPage}}
<a href='/characters/startswith/{{letter}}/page/{{offset}}'>Next page</a>
