<div>
    <a href="./">Back to Character</a>
</div>
<div class="container">
{{#each comicData.results}}
  <div class="item-container">
    <div>
    <img src="{{this.thumbnail.path}}/portrait_incredible.{{this.thumbnail.extension}}" alt="">
     </div>
     <div>
     <h6>{{this.title}}</h6>
     </div>
    </div>
{{/each}}
 </div>

<div>
    Showing {{resultsRangeStart}} through {{resultsRangeEnd}} of {{allComics.total}} results.  
</div> 
Page {{currentPage}}
<a href='/characters/details/{{id}}/comics/page/{{offset}}'>Next page</a>
