<div class="ul-container">
    <ul class="ul-letters">
        <li>Sort by: </li>
        <li><a href="/characters">All</a></li>
        <li><a href="/characters/startswith/a">A</a></li>
        <li><a href="/characters/startswith/b">B</a></li>
        <li><a href="/characters/startswith/c">C</a></li>
        <li><a href="/characters/startswith/d">D</a></li>
        <li><a href="/characters/startswith/e">E</a></li>
        <li><a href="/characters/startswith/f">F</a></li>
        <li><a href="/characters/startswith/g">G</a></li>
        <li><a href="/characters/startswith/h">H</a></li>
        <li><a href="/characters/startswith/i">I</a></li>
        <li><a href="/characters/startswith/j">J</a></li>
        <li><a href="/characters/startswith/k">K</a></li>
        <li><a href="/characters/startswith/l">L</a></li>
        <li><a href="/characters/startswith/m">M</a></li>
        <li><a href="/characters/startswith/n">N</a></li>
        <li><a href="/characters/startswith/o">O</a></li>
        <li><a href="/characters/startswith/p">P</a></li>
        <li><a href="/characters/startswith/q">Q</a></li>
        <li><a href="/characters/startswith/r">R</a></li>
        <li><a href="/characters/startswith/s">S</a></li>
        <li><a href="/characters/startswith/t">T</a></li>
        <li><a href="/characters/startswith/u">U</a></li>
        <li><a href="/characters/startswith/v">V</a></li>
        <li><a href="/characters/startswith/w">W</a></li>
        <li><a href="/characters/startswith/x">X</a></li>
        <li><a href="/characters/startswith/y">Y</a></li>
        <li><a href="/characters/startswith/z">Z</a></li>
    </ul>
</div>

<div class="letterdropdown container">Search by:   
<select name="Search by" id="" class="container" ONCHANGE="location = this.value;">
    <option value="/characters">All</option>
    <option value="/characters/startswith/a">A</option>
    <option value="/characters/startswith/b">B</option>
    <option value="/characters/startswith/c">C</option>
    <option value="/characters/startswith/d">D</option>
    <option value="/characters/startswith/e">E</option>
    <option value="/characters/startswith/f">F</option>
    <option value="/characters/startswith/g">G</option>
    <option value="/characters/startswith/h">H</option>
    <option value="/characters/startswith/i">I</option>
    <option value="/characters/startswith/j">J</option>
    <option value="/characters/startswith/k">K</option>
    <option value="/characters/startswith/l">L</option>
    <option value="/characters/startswith/m">M</option>
    <option value="/characters/startswith/n">N</option>
    <option value="/characters/startswith/o">O</option>
    <option value="/characters/startswith/p">P</option>
    <option value="/characters/startswith/q">Q</option>
    <option value="/characters/startswith/r">R</option>
    <option value="/characters/startswith/s">S</option>
    <option value="/characters/startswith/t">T</option>
    <option value="/characters/startswith/u">U</option>
    <option value="/characters/startswith/v">V</option>
    <option value="/characters/startswith/w">W</option>
    <option value="/characters/startswith/x">X</option>
    <option value="/characters/startswith/y">Y</option>
    <option value="/characters/startswith/z">Z</option>
</select>
</div>

<div class="container">
    {{#each allCharacters.results}} 
    <div class="test-item-container">
        <div>
        <a href="/characters/details/{{this.id}}" class="a-images">
            <img class="test-images" src='{{this.thumbnail.path}}/portrait_incredible.{{this.thumbnail.extension}}' alt=""> 
        </a>
        </div> 
        <div class="card-box">
        {{this.name}}
        </div>
        </div>
    {{/each}}

</div>

<div class="container mt-2">
    <div class="container">
        Page {{currentPage}} -
        <a class="pl-1" href='/characters/page/{{offset}}'>Next page</a>
    </div>
<div class="container">
    Showing {{resultsRangeStart}} through {{resultsRangeEnd}} of {{allCharacters.total}} results.  
</div> 
</div>

