<div class="detail-main-container">

{{#each characterDetail}}
<div>
    <img class="detail-image-markup" src="{{thumbnail.path}}/portrait_uncanny.{{thumbnail.extension}}" alt="">
</div>
<h1>
{{name}}    
</h1>
<div>
{{#if description}}
Description : {{description}} 
    {{else}}
Description: n/a
{{/if}}
</div> 
Total Comics: {{comics.available}} <br>
<a href="/characters/details/{{id}}/comics">See Comics</a> <br>
<a href="{{urls.0.url}}" target="_blank">More Character Information</a>
<div>
</div>

{{#if ../isLoggedIn}}
<div>
<form action="" method="POST">
<button class="save-button btn btn-primary"type="submit" >Save Character</button>
<input type="hidden" name="id" value="{{id}}"> 
<input type="hidden" name="name" value="{{name}}"> 
<input type="hidden" name="description" value="{{description}}"> 
<input type="hidden" name="image" value='{{thumbnail.path}}/portrait_uncanny.{{thumbnail.extension}}'>

</form>
    {{else}}
<button disabled="disabled">Login to save</button>
</div>
{{/if}}
{{/each}}
</div>

<footer> 
    <a href="https://developer.marvel.com/" target="_blank">Data provided by Marvel. © 2018 Marvel</a>
</footer>

