<div class="detail-main-container">


{{#each characterDetail}}
    <img class="detail-image-markup" src="{{thumbnail.path}}/portrait_uncanny.{{thumbnail.extension}}" alt="">
<h1 class="title-wrap">
{{name}}    
</h1>
{{#if description}}
Description : {{description}} 
    {{else}}
Description: n/a
{{/if}}
<br>
Total Comics: {{comics.available}} <br>
<a href="/characters/details/{{id}}/comics">See Comics</a>
<a href="{{urls.0.url}}" target="_blank">More Character Information</a>

{{#if ../isLoggedIn}}
<div>
<form action="" method="POST">
<button class="save-button btn btn-primary"type="submit" >Save Character</button>
<input type="hidden" name="id" value="{{id}}"> 
<input type="hidden" name="name" value="{{name}}"> 
<input type="hidden" name="description" value="{{description}}"> 
<input type="hidden" name="image" value='{{thumbnail.path}}/portrait_uncanny.{{thumbnail.extension}}'>

</form>
</div>
    {{else}}
<button class="save-button btn btn-primary" disabled="disabled">Login to save</button>
{{/if}}
{{/each}}
</div>