

{{#each comicDetail}}
<img src='{{thumbnail.path}}/portrait_uncanny.{{thumbnail.extension}}' alt=""> 
<div class = "comic-id" data-comic-id> 
Comic ID: {{id}}
</div>
<p>
Comic Title: {{title}}
</p>
<p>
{{#if descriptions}}
Comic Description:  {{description}}
{{else}}
Comic Description:  n/a
{{/if}}
</p>
<p>
{{#if characters.items}}
Characters:
{{#each characters.items}}
    {{name}}, 
{{/each}}
{{else}}
Characters: n/a
{{/if}}
</p>

{{#if ../isLoggedIn}}
<div>
<form action="" method="POST">
<button type="submit" data-target-save>Save Comic</button>
<input type="hidden" name="id" value="{{id}}"> 
<input type="hidden" name="title" value="{{title}}"> 
<input type="hidden" name="description" value="{{description}}"> 
<input type="hidden" name="image" value='{{thumbnail.path}}/portrait_uncanny.{{thumbnail.extension}}'>
<input type="hidden" name="characters" value=' {{#each characters.items}}{{name}}{{/each}}'>

</form>
</div>
    {{else}}
        <button disabled="disabled">Login to save</button>
{{/if}}

{{/each}}

