<div class="detail-main-container">


{{#each comicDetail}}
<img class="detail-image-markup" src='{{thumbnail.path}}/portrait_uncanny.{{thumbnail.extension}}' alt=""> 
<h1>
Comic Title: {{title}}
</h1>

{{#if descriptions}}
Comic Description:  {{description}}
{{else}}
Comic Description:  n/a
{{/if}}
<br>

{{#if characters.items}}
Characters:
{{#each characters.items}}
    {{name}}, 
{{/each}}
{{else}}
Characters: n/a
{{/if}}
<br>
<a href="{{urls.0.url}}" target="_blank">More Comic Information</a>

{{#if ../isLoggedIn}}
<div>
<form action="" method="POST">
<button class="save-button btn btn-primary" type="submit" data-target-save>Save Comic</button>
<input type="hidden" name="id" value="{{id}}"> 
<input type="hidden" name="title" value="{{title}}"> 
<input type="hidden" name="description" value="{{description}}"> 
<input type="hidden" name="image" value='{{thumbnail.path}}/portrait_uncanny.{{thumbnail.extension}}'>
<input type="hidden" name="characters" value=' {{#each characters.items}}{{name}}{{/each}}'>

</form>
</div>
    {{else}}
        <button class="save-button btn btn-primary" disabled="disabled">Login to save</button>
{{/if}}

{{/each}}
</div>

