
<div>
    <ul class="ul-letters">
        <li>Sort by: </li>
        <li><a href="/comics">All</a></li>
        <li><a href="/comics/startswith/a">A</a></li>
        <li><a href="/comics/startswith/b">B</a></li>
        <li><a href="/comics/startswith/c">C</a></li>
        <li><a href="/comics/startswith/d">D</a></li>
        <li><a href="/comics/startswith/e">E</a></li>
        <li><a href="/comics/startswith/f">F</a></li>
        <li><a href="/comics/startswith/g">G</a></li>
        <li><a href="/comics/startswith/h">H</a></li>
        <li><a href="/comics/startswith/i">I</a></li>
        <li><a href="/comics/startswith/j">J</a></li>
        <li><a href="/comics/startswith/k">K</a></li>
        <li><a href="/comics/startswith/l">L</a></li>
        <li><a href="/comics/startswith/m">M</a></li>
        <li><a href="/comics/startswith/n">N</a></li>
        <li><a href="/comics/startswith/o">O</a></li>
        <li><a href="/comics/startswith/p">P</a></li>
        <li><a href="/comics/startswith/q">Q</a></li>
        <li><a href="/comics/startswith/r">R</a></li>
        <li><a href="/comics/startswith/s">S</a></li>
        <li><a href="/comics/startswith/t">T</a></li>
        <li><a href="/comics/startswith/u">U</a></li>
        <li><a href="/comics/startswith/v">V</a></li>
        <li><a href="/comics/startswith/w">W</a></li>
        <li><a href="/comics/startswith/x">X</a></li>
        <li><a href="/comics/startswith/y">Y</a></li>
        <li><a href="/comics/startswith/z">Z</a></li>
    </ul>
</div>
<div class="container">
    {{#each allComics.results}}
    <div class="test-item-container">
    <div>
    <a href = '/comics/details/{{this.id}}' class="a-images">
    <img class="test-images" src='{{this.thumbnail.path}}/portrait_incredible.{{this.thumbnail.extension}}' alt=""> 
    </a>
    </div>
    <div class="card-box-comics">
    {{this.title}}
    </div>
    </div>
    {{/each}}

</div>

<div>
    Showing {{resultsRangeStart}} through {{resultsRangeEnd}} of {{allComics.total}} results.  
</div> 

Page {{currentPage}}
<a href='/comics/page/{{offset}}'>Next page</a>
