<div class="outer-container lets-add-margin">

<div>
<div class="container">
<h3>My Characters:
</h3>
<div class="container">

{{#each characterData}}
<div class="test-item-container">
    <div>
    <a href="/characters/details/{{character_id}}" class="a-images-collection">
        <img src='{{character_image}}' alt="" class="test-images">
    </a>
    </div>
    <div class="card-box">
    {{character_name}}
    </div>
    </div>  
{{/each}}
</div>
</div>

<div class="lets-add-margin">
    <h3 class="container">
        My Comics:
    </h3>

<div class="container">
{{#each comicData}}
 <div class="test-item-container">
    <div>  
    <a href='/comics/details/{{comic_id}}' class="a-images-collection">
        <img src='{{collectors_image}}' alt="" class="test-images">
    </a>
    </div>
    <div class="card-box-comics">
    {{title}}
    </div>
    </div>
    {{/each}}
</div>
</div>

</div>